// Jib l-variables d-l-alwan li gha n-sta3mlo
@use 'variables' ;

// .sidebar {
//   width: 260px;
//   height: 100vh;
//   background-color: #F8FAFC; // Lon l-khlfiya nqi
//   padding: 24px;
//   display: flex;
//   flex-direction: column;
//   border-right: 1px solid #E2E8F0;

//   // Logo Style
//   &__logo {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     margin-bottom: 32px;

//     span {
//       background-color: var.$color-teal; // Lon li khtartou f Figma
//       padding: 5px;
//       border-radius: 8px;
//     }

//     h1 {
//       font-size: 1.1rem;
//       font-weight: 700;
//       color: #1A202C;
//     }
//   }

//   // Actions Buttons
//   &__actions {
//     display: flex;
//     flex-direction: column;
//     gap: 12px;
//     margin-bottom: 40px;

//     .btn {
//       padding: 12px 16px;
//       border-radius: 12px;
//       border: none;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       cursor: pointer;
//       font-weight: 500;
//       transition: 0.3s;

//       &--quiz {
//         background-color: #1A202C; // Lon dark d-l-quiz
//         color: white;
//         &:hover { background-color: lighten(#1A202C, 10%); }
//       }

//       &--task {
//         background-color: #EDF2F7;
//         color: #4A5568;
//         &:hover { background-color: darken(#EDF2F7, 5%); }
//       }
//     }
//   }

//   // Nav Links
//   &__nav {
//     flex-grow: 1; // Khlli l-nav t-akhoud l-moussa7a l-khawya

//     ul {
//       list-style: none;
//       padding: 0;

//       li {
//         display: flex;
//         align-items: center;
//         gap: 12px;
//         padding: 10px 16px;
//         color: #718096;
//         cursor: pointer;
//         border-radius: 10px;
//         margin-bottom: 8px;
//         transition: 0.2s;

//         &.active {
//           background-color: #E6FFFA; // Teal light background
//           color: var.$color-teal;
//           font-weight: 600;
//         }

//         &:hover:not(.active) {
//           background-color: #F1F5F9;
//         }
//       }
//     }
//   }

//   // Profile Section
//   &__profile {
//     display: flex;
//     align-items: center;
//     gap: 12px;
//     padding-top: 20px;
//     border-top: 1px solid #E2E8F0;

//     img {
//       width: 40px;
//       height: 40px;
//       border-radius: 50%;
//     }

//     .info {
//       flex-grow: 1;
//       .name { font-weight: 600; font-size: 0.9rem; }
//       .status { font-size: 0.75rem; color: #A0AEC0; }
//     }
//   }
// }